<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href = "{% url 'detail_userdetail' %}" class="btn btn-primary"></a>
    <div class="card-body">
      <div>
        <h1>{{userdetails.userid}}</h1>
        <h2>{{userdetails.dateofbirth}}</h2>
        <h3>{{userdetails.dateofjoining}}</h3>
        <h4>{{userdetails.department}}</h4>
        <h5>{{userdetails.address}}</h5>
        <h6>{{userdetails.emergencycontactno}}</h6>
        <h7>{{userdetails.lastappraisaldate}}</h7>
    </div>
    </div>
    </body>
  </html>